body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body-class{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('/components/main-page/main-img/bg-cloud.webp');
}
.main-title{
   text-transform: capitalize;
   text-decoration-line:overline ;
   color: #454c93;
}
.main-content{
    padding-left: 20px;
    padding-right: 20px;
}

.grid-container{
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    'map0 map1' 
    'map2 map3';
}
img{
    display: flex;
        align-items: center;
        justify-content: center;
}
.map{
    border: 2px solid black;
    display: flex;
        align-items: center;
        justify-content: center;
}

.map0{
    grid-area: map0; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.map1{
    grid-area: map1;
    display: flex;
        align-items: center;
        justify-content: center;

}
.map2{
    grid-area: map2;
    display: flex;
        align-items: center;
        justify-content: center;
}
.map3{
    grid-area: map3;
    display: flex;
        align-items: center;
        justify-content: center;
}

.btn{
    border: 1px solid black;
    border-radius: 50px;
    padding: 20px 50px;
}
.main-btn{
    margin-top: 20px;
    padding: 20px 180px;
    font-size: large;
    text-transform: uppercase;
    border: 1px solid rgb(30 85 143);
    background-color: rgba(30, 85, 143, 0.598);
}

@media (max-width: 640px){
    .grid-container {
        grid-template-areas:
        'map0'
        'map1'
        'map2'
        'map3';
        }
    .body-class {
        justify-content: space-between;
        }
    .main-title{
        padding: 20px;
    }   
} 