body {
    margin: 0;
    overflow: hidden;
}

h1 {
    margin-top: 0;
}

.top-header {
    text-align: center;
}

header button {
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 7px;
    border-color: hsla(51, 80%, 90%, 1);
    color: rgb(26, 98, 134);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: hsla(52, 64%, 83%, 0.6);
    height: 60px;
    width: 150px;
    font-weight: bold;
    text-transform: uppercase;
}

header button:hover {
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}

#bg-img {
    z-index: -99;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
}

#victoryScreen {
    height: 100%;
    width: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    display:none;
    
}

#victoryImg {
    width: 300px;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.victoryButtons {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#victoryScreen button {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-transform: uppercase;
	text-shadow:0px 1px 0px #2f6627;

    margin: 0 20px;
}
#victoryScreen button:hover {
	background-color:#5cbf2a;
}
#victoryScreen button:active {
	position:relative;
	top:1px;
}


#maze-img {
    width: 600px;
    z-index: -1;
    margin-left: 50%;
    transform: translateX(-50%);
}

#pirate-img {
    max-width: 45px;
    position: absolute;
    top: 0;
    left: 0;
}

#explanation {
    width: 600px;
    text-align: center;
    margin-left: 50%;
    margin-top: -5px;
    padding-bottom: 20px;
    transform: translateX(-50%);
    background-color: white;
}