
body {
    margin: 0px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    position: relative;
    
        
}

#background {
    opacity: 0.5;
    position: fixed;
    top:0;
    left:0;
    margin:0px;
    z-index: -1;
    width: 100%;
    height: auto;
    background-repeat: repeat;
    
}

.main {
width : 90vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
   
}


#index-page {
    position: absolute;
    left: 10px;
    top:10px;
    
}

.game-container {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    margin-left: 40px;
}

.levels-container {
    padding-right:20px;
    display: flex;
    flex-direction: column;

}

.levels-container>button{
    margin: 20px 0;
    min-height: 60px;
    min-width: 200px;
    font-size: 20px;

}
.response-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 3px solid hsla(51, 80%, 90%, 1);
    border-radius: 10px;
    padding: 20px;
    width: 450px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: hsla(51, 80%, 90%, 0.4);
   
}

h1 {
    color: rgb(26, 98, 134);
    margin: 0px;
    text-transform: uppercase;
    opacity: 1;
    padding-top: 30px
}

#map {
    width: 100%;
    height: auto;
}

#result, #game-rules, #progress {
    font-size: 30px ;
    color: rgb(26, 98, 134);
    margin-top: 0px

    
}
#result {
    color: red
}

button {
    
    border-radius: 7px;
    border-color: hsla(51, 80%, 90%, 1);
    color: rgb(26, 98, 134);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: hsla(52, 64%, 83%, 0.6);
    height: 60px;
    width: 150px;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
}

button:hover {
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}

@media (max-width:1270px){
    .game-container{
        flex-direction: column;
    }
    .levels-container {
        display:inline-block
    }
    #map {
        width: 80%;
    }
}