<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find the buried treasure</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="map1_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main darkmode">
        <button id="index-page" class="darkmode">Back to main</button>
        <h1 class="darkmode">Find the buried treasure!</h1>                     
        <div class="game-container">
            <div class="levels-container">
                <button id="easy" class="diff-level darkmode">easy</button>
                <button id="hard" class="diff-level darkmode">hard</button>
            </div>
            <img src="./media/treasure-map1.png" id="map">
            <div class="response-info">
                <p id="progress" class="darkmode"> Your progress: </p>
                <p id="result"> Click on the map to find the treasure!</p>
                <button id="start-game" class="darkmode">Start new game</button> 
            </div>
        </div>    
    </div>
    
    <audio id = "audio" loop>
        <source src="./media/music.mp3" type="audio/mp3" id = "audio">
      Your browser does not support the audio element.
      </audio>
    <img id="background" src="https://images.photowall.com/products/67045/pirate-island-1.jpg?h=699&q=85" alt="island">
    <script src="script.js" type="text/javascript"></script>
<script src="map1_script.js" type="text/javascript"></script>
</body>
</html>